In [4]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st

In [5]:
%store -r select_states_population_df
%store -r select_states_sales_df

In [6]:
select_states_population_df

,STNAME,CTYNAME,Popestimate Yearly Change 2011(%),Popestimate Yearly Change 2012(%),Popestimate Yearly Change 2013(%),Popestimate Yearly Change 2014(%),Popestimate Yearly Change 2015(%),Popestimate Yearly Change 2016(%),Popestimate Yearly Change 2017(%),Popestimate Yearly Change 2018(%),Popestimate Yearly Change 2019(%),Popestimate Yearly Change 2020(%),Popestimate 10-Year Change 2020(%)
0,District of Columbia,District of Columbia,1.024795,1.024903,1.024888,1.018485,1.020209,1.015601,1.013821,1.010139,1.005831,1.006443,1.177659
1,Utah,Utah,1.014190,1.013979,1.015636,1.013645,1.015417,1.020316,1.019479,1.016630,1.015286,1.014515,1.170953
2,Texas,Texas,1.015990,1.017103,1.015163,1.018257,1.018746,1.016220,1.013504,1.011790,1.012655,1.012901,1.163176
49,Illinois,Illinois,1.002121,1.001185,1.000990,0.999171,0.998020,0.997055,0.996739,0.995680,0.995468,0.993725,0.980296
50,West Virginia,West Virginia,1.001262,1.000452,0.998558,0.997736,0.996089,0.994088,0.992495,0.993000,0.994081,0.994165,0.962531

In [7]:
select_states_sales_df

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
StateName,,,,,,,,,,,
IL,59779.0,59571,74902,93725,100689,113144,123797.0,123867,129384,122175,135944.0
TX,93241.0,94298,112232,134382,136227,144533,151306.0,154065,154210,158770,173511.0
UT,18356.0,19235,24019,27369,27877,33008,35399.0,34867,33972,34607,36991.0
VA,70839.0,65667,75558,87705,84784,95447,104942.0,111890,110752,115225,128283.0
WA,26889.0,27330,37158,46846,48530,57052,63002.0,65469,60361,58065,59939.0