In [33]:
# Dependencies
import requests 
import json
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
from pathlib import Path

In [34]:
%store -r select_states_population_change_df
%store -r select_states_total_population_df 
%store -r state_rental_df
%store -r per_rental_df

In [35]:
#Looking at dataframes to see the name of the columns
select_states_population_change_df.head()

,STNAME,CTYNAME,Popestimate Yearly Change 2011(%),Popestimate Yearly Change 2012(%),Popestimate Yearly Change 2013(%),Popestimate Yearly Change 2014(%),Popestimate Yearly Change 2015(%),Popestimate Yearly Change 2016(%),Popestimate Yearly Change 2017(%),Popestimate Yearly Change 2018(%),Popestimate Yearly Change 2019(%),Popestimate Yearly Change 2020(%),Popestimate 10-Year Change 2020(%)
0,District of Columbia,District of Columbia,1.024795,1.024903,1.024888,1.018485,1.020209,1.015601,1.013821,1.010139,1.005831,1.006443,1.177659
1,Utah,Utah,1.014190,1.013979,1.015636,1.013645,1.015417,1.020316,1.019479,1.016630,1.015286,1.014515,1.170953
2,Texas,Texas,1.015990,1.017103,1.015163,1.018257,1.018746,1.016220,1.013504,1.011790,1.012655,1.012901,1.163176
49,Illinois,Illinois,1.002121,1.001185,1.000990,0.999171,0.998020,0.997055,0.996739,0.995680,0.995468,0.993725,0.980296
50,West Virginia,West Virginia,1.001262,1.000452,0.998558,0.997736,0.996089,0.994088,0.992495,0.993000,0.994081,0.994165,0.962531

In [36]:
#Creating a new state rental dataframe
state_rental_df2 = state_rental_df[['States', '2010', '2011', '2012', '2013','2014','2015','2016','2017',
                                                  '2018','2019','2020']]
#state_rental_df.drop(columns = [9:])
state_rental_df2

Year,States,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,District of Columbia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
1,Virginia,10.5,9.9,9.5,7.3,7.4,6.6,7.0,6.7,6.5,7.0,6.5
2,Utah,7.2,6.4,7.7,6.7,8.6,5.1,5.7,6.2,5.4,3.8,5.3
3,Illinois,11.0,10.2,9.5,9.6,9.2,7.5,7.6,8.0,7.4,7.5,7.9
4,Texas,13.3,12.3,10.4,10.1,9.5,9.6,9.4,9.8,8.9,9.5,8.6

In [37]:
state_rental_df2.rename(columns={'States': 'STNAME'}, inplace=True)
per_rental_df.rename(columns={'States': 'STNAME'}, inplace=True)

state_rental_df2

/var/folders/qy/tzsk1z093rxg3c6fl6r124p40000gn/T/ipykernel_83977/1112814249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_rental_df2.rename(columns={'States': 'STNAME'}, inplace=True)

Year,STNAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,District of Columbia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
1,Virginia,10.5,9.9,9.5,7.3,7.4,6.6,7.0,6.7,6.5,7.0,6.5
2,Utah,7.2,6.4,7.7,6.7,8.6,5.1,5.7,6.2,5.4,3.8,5.3
3,Illinois,11.0,10.2,9.5,9.6,9.2,7.5,7.6,8.0,7.4,7.5,7.9
4,Texas,13.3,12.3,10.4,10.1,9.5,9.6,9.4,9.8,8.9,9.5,8.6

In [38]:
#Creating a Master Dataframe to analysis the relation between rental vacancy rate vs total population per year
rental_pop_df = state_rental_df2.merge(select_states_total_population_df.head(), on = "STNAME")

rental_pop_df

,STNAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,...,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020
0,District of Columbia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,...,620290,635737,651559,663603,677014,687576,697079,704147,708253,712816
1,Utah,7.2,6.4,7.7,6.7,8.6,5.1,5.7,6.2,5.4,...,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3249879
2,Illinois,11.0,10.2,9.5,9.6,9.2,7.5,7.6,8.0,7.4,...,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12587530
3,Texas,13.3,12.3,10.4,10.1,9.5,9.6,9.4,9.8,8.9,...,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29360759

In [39]:
#Creating a master dataframe to analysis the relationship between rental vacancy change and the population change
vacancy_pop_change_df = per_rental_df.merge(select_states_total_population_df, on = "STNAME")

vacancy_pop_change_df

,STNAME,Yearly Rental Vacancy Change 2011(%),Yearly Rental Vacancy Change 2012(%),Yearly Rental Vacancy Change 2013(%),Yearly Rental Vacancy Change 2014(%),Yearly Rental Vacancy Change 2015(%),Yearly Rental Vacancy Change 2016(%),Yearly Rental Vacancy Change 2017(%),Yearly Rental Vacancy Change 2018(%),Yearly Rental Vacancy Change 2019(%),...,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020
0,District of Columbia,0.933333,0.928571,0.987179,0.844156,0.830769,1.074074,1.224138,1.112676,0.759494,...,620290,635737,651559,663603,677014,687576,697079,704147,708253,712816
1,Utah,0.888889,1.203125,0.870130,1.283582,0.593023,1.117647,1.087719,0.870968,0.703704,...,2814797,2854146,2898773,2938327,2983626,3044241,3103540,3155153,3203383,3249879
2,Illinois,0.927273,0.931373,1.010526,0.958333,0.815217,1.013333,1.052632,0.925000,1.013514,...,12867783,12883029,12895778,12885092,12859585,12821709,12779893,12724685,12667017,12587530
3,Texas,0.924812,0.845528,0.971154,0.940594,1.010526,0.979167,1.042553,0.908163,1.067416,...,25645504,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29360759

In [ ]:
#rental_pop_df (Rental Vacancy VS Population Total)
#vacancy_pop_change_df (Rental Vacany Percentage Change vs Population Change)