In [1]:
# Dependencies
import requests 
import json
import pandas as pd
import matplotlib as plt 
import numpy as np
from pathlib import Path

In [2]:
#Import CSV file containing all the rental data for each state (DC, VA, UT, IL, TX)

#data_file =  
dc_csv = Path("State_Rental_Data/DCRVAC.csv")
va_csv = Path("State_Rental_Data/VARVAC.csv")
ut_csv = Path("State_Rental_Data/UTRVAC.csv")
il_csv = Path("State_Rental_Data/ILRVAC.csv")
tx_csv = Path("State_Rental_Data/TXRVAC.csv")

#Convert state files into dataframes
dc_df = pd.read_csv(dc_csv, encoding='UTF-8')
va_df = pd.read_csv(dc_csv, encoding='UTF-8')
ut_df = pd.read_csv(dc_csv, encoding='UTF-8')
il_df = pd.read_csv(dc_csv, encoding='UTF-8')
tx_df = pd.read_csv(dc_csv, encoding='UTF-8')


dc_df.head()

         DATE  DCRVAC
0  1986-01-01     3.5
1  1987-01-01     4.8
2  1988-01-01     5.2
3  1989-01-01     5.1
4  1990-01-01     7.7

In [3]:
#Changing the columns to reflect the name of the state
dc_df.rename(columns={'DCRVAC': 'District of Columbia'}, inplace=True)
va_df.rename(columns={'DCRVAC': 'Virginia'}, inplace=True)
ut_df.rename(columns={'DCRVAC': 'Utah'}, inplace=True)
il_df.rename(columns={'DCRVAC': 'Illinois'}, inplace=True)
tx_df.rename(columns={'DCRVAC': 'Texas'}, inplace=True)

In [4]:
#merging date frames on the Date
states_df = dc_df.merge(va_df, on = "DATE")
states_df = states_df.merge(ut_df, on = "DATE")
states_df = states_df.merge(il_df, on = "DATE")
states_df = states_df.merge(tx_df, on = "DATE")

states_df

          DATE  District of Columbia  Virginia  Utah  Illinois  Texas
0   1986-01-01                   3.5       3.5   3.5       3.5    3.5
1   1987-01-01                   4.8       4.8   4.8       4.8    4.8
2   1988-01-01                   5.2       5.2   5.2       5.2    5.2
3   1989-01-01                   5.1       5.1   5.1       5.1    5.1
4   1990-01-01                   7.7       7.7   7.7       7.7    7.7
5   1991-01-01                   8.8       8.8   8.8       8.8    8.8
6   1992-01-01                   9.7       9.7   9.7       9.7    9.7
7   1993-01-01                   7.7       7.7   7.7       7.7    7.7
8   1994-01-01                  10.3      10.3  10.3      10.3   10.3
9   1995-01-01                  12.9      12.9  12.9      12.9   12.9
10  1996-01-01                  13.4      13.4  13.4      13.4   13.4
11  1997-01-01                  13.2      13.2  13.2      13.2   13.2
12  1998-01-01                  12.6      12.6  12.6      12.6   12.6
13  1999-01-01                  12.0      12.0  12.0      12.0   12.0
14  2000-01-01                  11.7      11.7  11.7      11.7   11.7
15  2001-01-01                  12.5      12.5  12.5      12.5   12.5
16  2002-01-01                  10.8      10.8  10.8      10.8   10.8
17  2003-01-01                  10.7      10.7  10.7      10.7   10.7
18  2004-01-01                  11.3      11.3  11.3      11.3   11.3
19  2005-01-01                   7.7       7.7   7.7       7.7    7.7
20  2006-01-01                   7.8       7.8   7.8       7.8    7.8
21  2007-01-01                   9.6       9.6   9.6       9.6    9.6
22  2008-01-01                   8.6       8.6   8.6       8.6    8.6
23  2009-01-01                   9.9       9.9   9.9       9.9    9.9
24  2010-01-01                   9.0       9.0   9.0       9.0    9.0
25  2011-01-01                   8.4       8.4   8.4       8.4    8.4
26  2012-01-01                   7.8       7.8   7.8       7.8    7.8
27  2013-01-01                   7.7       7.7   7.7       7.7    7.7
28  2014-01-01                   6.5       6.5   6.5       6.5    6.5
29  2015-01-01                   5.4       5.4   5.4       5.4    5.4
30  2016-01-01                   5.8       5.8   5.8       5.8    5.8
31  2017-01-01                   7.1       7.1   7.1       7.1    7.1
32  2018-01-01                   7.9       7.9   7.9       7.9    7.9
33  2019-01-01                   6.0       6.0   6.0       6.0    6.0
34  2020-01-01                   8.2       8.2   8.2       8.2    8.2
35  2021-01-01                   9.8       9.8   9.8       9.8    9.8
36  2022-01-01                   7.9       7.9   7.9       7.9    7.9

In [5]:
#Cleaning up the column 'Date,' by removing the month and day. then assigning the values to a new column called year
states_df['Year'] = states_df['DATE'].str.split('-').str[0]

#Once we have 'Year' we remove 'DATE'
states_df = states_df.drop(columns='DATE')

#new dataframe
states_df

    District of Columbia  Virginia  Utah  Illinois  Texas  Year
0                    3.5       3.5   3.5       3.5    3.5  1986
1                    4.8       4.8   4.8       4.8    4.8  1987
2                    5.2       5.2   5.2       5.2    5.2  1988
3                    5.1       5.1   5.1       5.1    5.1  1989
4                    7.7       7.7   7.7       7.7    7.7  1990
5                    8.8       8.8   8.8       8.8    8.8  1991
6                    9.7       9.7   9.7       9.7    9.7  1992
7                    7.7       7.7   7.7       7.7    7.7  1993
8                   10.3      10.3  10.3      10.3   10.3  1994
9                   12.9      12.9  12.9      12.9   12.9  1995
10                  13.4      13.4  13.4      13.4   13.4  1996
11                  13.2      13.2  13.2      13.2   13.2  1997
12                  12.6      12.6  12.6      12.6   12.6  1998
13                  12.0      12.0  12.0      12.0   12.0  1999
14                  11.7      11.7  11.7      11.7   11.7  2000
15                  12.5      12.5  12.5      12.5   12.5  2001
16                  10.8      10.8  10.8      10.8   10.8  2002
17                  10.7      10.7  10.7      10.7   10.7  2003
18                  11.3      11.3  11.3      11.3   11.3  2004
19                   7.7       7.7   7.7       7.7    7.7  2005
20                   7.8       7.8   7.8       7.8    7.8  2006
21                   9.6       9.6   9.6       9.6    9.6  2007
22                   8.6       8.6   8.6       8.6    8.6  2008
23                   9.9       9.9   9.9       9.9    9.9  2009
24                   9.0       9.0   9.0       9.0    9.0  2010
25                   8.4       8.4   8.4       8.4    8.4  2011
26                   7.8       7.8   7.8       7.8    7.8  2012
27                   7.7       7.7   7.7       7.7    7.7  2013
28                   6.5       6.5   6.5       6.5    6.5  2014
29                   5.4       5.4   5.4       5.4    5.4  2015
30                   5.8       5.8   5.8       5.8    5.8  2016
31                   7.1       7.1   7.1       7.1    7.1  2017
32                   7.9       7.9   7.9       7.9    7.9  2018
33                   6.0       6.0   6.0       6.0    6.0  2019
34                   8.2       8.2   8.2       8.2    8.2  2020
35                   9.8       9.8   9.8       9.8    9.8  2021
36                   7.9       7.9   7.9       7.9    7.9  2022

In [6]:
states_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   District of Columbia  37 non-null     float64
 1   Virginia              37 non-null     float64
 2   Utah                  37 non-null     float64
 3   Illinois              37 non-null     float64
 4   Texas                 37 non-null     float64
 5   Year                  37 non-null     object
dtypes: float64(5), object(1)
memory usage: 1.9+ KB

In [7]:
states_df['Year'] = states_df['Year'].astype(int)
states_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   District of Columbia  37 non-null     float64
 1   Virginia              37 non-null     float64
 2   Utah                  37 non-null     float64
 3   Illinois              37 non-null     float64
 4   Texas                 37 non-null     float64
 5   Year                  37 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 1.9 KB

In [8]:
#Remove the rows that are not between 2010 and 2020
states_df = states_df[(states_df['Year'] > 2009)]
states_df = states_df[(states_df['Year'] < 2021)]

states_df

    District of Columbia  Virginia  Utah  Illinois  Texas  Year
24                   9.0       9.0   9.0       9.0    9.0  2010
25                   8.4       8.4   8.4       8.4    8.4  2011
26                   7.8       7.8   7.8       7.8    7.8  2012
27                   7.7       7.7   7.7       7.7    7.7  2013
28                   6.5       6.5   6.5       6.5    6.5  2014
29                   5.4       5.4   5.4       5.4    5.4  2015
30                   5.8       5.8   5.8       5.8    5.8  2016
31                   7.1       7.1   7.1       7.1    7.1  2017
32                   7.9       7.9   7.9       7.9    7.9  2018
33                   6.0       6.0   6.0       6.0    6.0  2019
34                   8.2       8.2   8.2       8.2    8.2  2020

In [9]:
states_df = states_df.set_index('Year')
states_df_transposed = states_df.transpose()
states_df

      District of Columbia  Virginia  Utah  Illinois  Texas
Year
2010                   9.0       9.0   9.0       9.0    9.0
2011                   8.4       8.4   8.4       8.4    8.4
2012                   7.8       7.8   7.8       7.8    7.8
2013                   7.7       7.7   7.7       7.7    7.7
2014                   6.5       6.5   6.5       6.5    6.5
2015                   5.4       5.4   5.4       5.4    5.4
2016                   5.8       5.8   5.8       5.8    5.8
2017                   7.1       7.1   7.1       7.1    7.1
2018                   7.9       7.9   7.9       7.9    7.9
2019                   6.0       6.0   6.0       6.0    6.0
2020                   8.2       8.2   8.2       8.2    8.2

In [10]:
states_df = states_df.transpose()
states_df

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
District of Columbia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
Virginia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
Utah,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
Illinois,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
Texas,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2

In [25]:
states_df2 = states_df.reset_index()
states_df2

Year,index,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,District of Columbia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
1,Virginia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
2,Utah,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
3,Illinois,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
4,Texas,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2

In [28]:
states_df2 = states_df2.reset_index(drop=True)
states_df2 = states_df2.rename(columns= {'2010': 'State'}) 

states_df2

Year,index,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,District of Columbia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
1,Virginia,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
2,Utah,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
3,Illinois,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2
4,Texas,9.0,8.4,7.8,7.7,6.5,5.4,5.8,7.1,7.9,6.0,8.2